* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.app-header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-logo {
    height: 40px;
}

.app-main {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.welcome-text {
    text-align: left;
    margin-bottom: 20px;
}

.welcome-text p {
    font-size: 14px;
}

.welcome-text h1 {
    font-size: 18px;
    font-weight: bold;
    text-indent: 5%;
}

.page-title h1 {
    text-align: left;
    font-size: 18px;
}

.action-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 150px;
    height: 150px;
}


.list-cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.list-cards {
    display: flex;
    margin-top: 10px;
}

.item-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    color: #333;
    width: 100%;
    
}

.main-card {
    background-color: #2C9596;
    color: #fff;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 800;
}

.search-icon {
    background: url('./icons/search.png') no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.ongoing-icon {
    background: url('./icons/running.png') no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.history-icon {
    background: url('./icons/time-past.png') no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.support-icon {
    background: url('./icons/phone-call.png') no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.bottom-nav {
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item {
    background-size: contain;
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    margin: 5px 0px;
}

.home-nav {
    background-image: url('./icons/home.png');
}

.search-nav {
    background-image: url('./icons/search_1.png');
}

.settings-nav {
    background-image: url('./icons/settings.png');
}

.card:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.main-card:hover {
    background-color: #267a7e;
}

.search-container {
    margin-top: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-icon-button {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.search-icon-button > img {
    width: 30px;
    height: 30px;
}



.item-status{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #267a7e;
    padding: 3px;
    width: 20%;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    transform: translate(310%, -50%);
}

.financier-name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}